body {
  padding-top: 70px;
  min-width: 235px;
  font-size: 16px; }

footer {
  font-size: 0.75em;
  text-align: center; }

@media screen and (max-width: 484px) {
  .col-micro {
    width: 100%; } }
@font-face {
  font-family: "entypo";
  src: url("../fonts/entypo-custom.eot");
  src: url("../fonts/entypo-custom.eot?#iefix") format("embedded-opentype"), url("../fonts/entypo-custom.woff") format("woff"), url("../fonts/entypo-custom.ttf") format("truetype"), url("../fonts/entypo-custom.svg#entypo-custom") format("svg");
  font-weight: normal;
  font-style: normal; }

.icon, .panel-heading:before, .panel-body .well:before, .panel-body .well:after, .curtain-controller .well:after {
  font-family: "entypo";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1em;
  speak: none;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-light-bulb:before, .light-controller .panel-heading:before, .light-controller .well:before {
  content: "\e600"; }

.icon-thermometer:before, .temperature-controller .panel-heading:before, .temperature-controller .well:before {
  content: "\e601"; }

.icon-music:before {
  content: "\e602"; }

.icon-play:before {
  content: "\e605"; }

.icon-stop:before {
  content: "\e606"; }

.icon-next:before {
  content: "\e607"; }

.icon-previous:before {
  content: "\e608"; }

.icon-pause:before {
  content: "\e609"; }

.icon-sun:before {
  content: "\e60a"; }

.icon-moon:before {
  content: "\e60d"; }

.icon-house:before {
  content: "\e60e"; }

.icon-text:before {
  content: "\e610"; }

.icon-text2:before {
  content: "\e611"; }

.icon-sun2:before {
  content: "\e614"; }

.icon-sound:before {
  content: "\e61d"; }

.icon-mute:before {
  content: "\e61e"; }

.icon-volume:before {
  content: "\e61f"; }

.icon-bars:before {
  content: "\e620"; }

.icon-lock:before {
  content: "\e621"; }

.icon-lock-open:before {
  content: "\e622"; }

.icon-bolt:before {
  content: "\e603"; }

.icon-key:before {
  content: "\e604"; }

.icon-cycle:before {
  content: "\e60c"; }

.icon-document:before, .curtain-controller .well:before {
  content: "\e60b"; }

.icon-arrow-down3:before {
  content: "\e619"; }

.icon-arrow-up3:before {
  content: "\e61a"; }

.icon-arrow-left:before {
  content: "\e60f"; }

.icon-arrow-right:before {
  content: "\e612"; }

.icon-bookmark:before {
  content: "\e613"; }

input[type="checkbox"] {
  display: none; }
  input[type="checkbox"] + label {
    padding: 0;
    margin-left: 0;
    margin-right: 4.6em;
    border-radius: 4px 0 0 4px;
    cursor: pointer; }
    input[type="checkbox"] + label:before, input[type="checkbox"] + label:after {
      display: block;
      position: relative;
      padding: 6px 0;
      margin: -1px 0;
      width: 4.6em;
      color: white;
      text-align: center;
      text-transform: uppercase; }
    input[type="checkbox"] + label:before {
      display: none;
      background: #5cb85c;
      border: 1px solid #4cae4c;
      left: -100%;
      border-radius: 4px 0 0 4px;
      content: attr(data-checked-label); }
    input[type="checkbox"] + label:after {
      display: inline-block;
      background: #d9534f;
      border: 1px solid #d43f3a;
      left: 100%;
      border-radius: 0 4px 4px 0;
      content: attr(data-unchecked-label); }
    input[type="checkbox"] + label:hover:before {
      background: #47a447;
      border-color: #398439; }
    input[type="checkbox"] + label:hover:after {
      background: #d2322f;
      border-color: #ac2925; }
    input[type="checkbox"] + label:active:before, input[type="checkbox"] + label:active:after {
      -webkit-box-shadow: inset 0 -3px 5px rgba(0, 0, 0, 0.125);
      -moz-box-shadow: inset 0 -3px 5px rgba(0, 0, 0, 0.125);
      box-shadow: inset 0 -3px 5px rgba(0, 0, 0, 0.125); }
  input[type="checkbox"]:checked + label {
    margin-left: 4.6em;
    margin-right: 0;
    width: 4.6em;
    border-radius: 0 4px 4px 0; }
    input[type="checkbox"]:checked + label:before {
      display: inline-block; }
    input[type="checkbox"]:checked + label:after {
      display: none; }

.panel-heading:before {
  float: right; }

.panel-body {
  text-align: center; }
  .temperature-controller .panel-body, .curtain-controller .panel-body, .light-controller .panel-body {
    height: 17em; }
  .panel-body .well {
    display: block;
    position: relative;
    margin: 0 auto;
    height: 8em;
    width: 50%;
    min-width: 6em; }
    .panel-body .well:before, .panel-body .well:after {
      position: absolute;
      left: 0;
      top: 0.167em;
      width: 100%;
      font-size: 6em;
      text-align: center; }
  .panel-body .btn {
    height: 34px; }
  .panel-body .btn-label {
    text-shadow: 0 0 2px black;
    width: 6em;
    border: 1px solid #cccccc; }

.panel-label {
  margin-top: 1em;
  color: #888888;
  font-size: 0.6em;
  font-weight: bold;
  letter-spacing: 0.1em;
  text-transform: uppercase; }

.light-controller .well {
  padding: 2em 0; }
.light-controller .status-on .well:before {
  color: #eedd00; }
.light-controller .control-adjust .btn-label {
  background: #888888;
  background: -moz-linear-gradient(left, #443300, #ffee00);
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, #443300), color-stop(100%, #ffee00));
  background: -webkit-linear-gradient(left, #443300, #ffee00);
  background: -o-linear-gradient(left, #443300, #ffee00);
  background: -ms-linear-gradient(left, #443300, #ffee00);
  background: linear-gradient(to right, #443300, #ffee00);
  -webkit-box-shadow: inset 0 0 0 1px white;
  -moz-box-shadow: inset 0 0 0 1px white;
  box-shadow: inset 0 0 0 1px white;
  color: white; }

.temperature-controller .well {
  padding: 0.8em 1em 0 3.9em; }
  .temperature-controller .well:before {
    left: -0.02em; }
.temperature-controller .status-day .well:before {
  color: #d9534f; }
.temperature-controller .status-night .well:before {
  color: #428bca; }
.temperature-controller .control-adjust .btn-label {
  background: #888888;
  background: -moz-linear-gradient(left, #4444ff, #ff4444);
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, #4444ff), color-stop(100%, #ff4444));
  background: -webkit-linear-gradient(left, #4444ff, #ff4444);
  background: -o-linear-gradient(left, #4444ff, #ff4444);
  background: -ms-linear-gradient(left, #4444ff, #ff4444);
  background: linear-gradient(to right, #4444ff, #ff4444);
  -webkit-box-shadow: inset 0 0 0 1px white;
  -moz-box-shadow: inset 0 0 0 1px white;
  box-shadow: inset 0 0 0 1px white;
  color: white; }

.curtain-controller .panel-heading:before {
  content: "\e613\e613";
  letter-spacing: -0.5em; }
.curtain-controller .well:after {
  content: "\e613\e613"; }
.curtain-controller .status-open .well {
  min-width: 10em; }
  .curtain-controller .status-open .well:after {
    margin-left: -0.25em;
    letter-spacing: 0.15em; }
.curtain-controller .status-close .well:after {
  margin-left: -0.3em;
  letter-spacing: -0.6em; }
